{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{message}} <a href="{{ url_for('index') }}" class="alert-link">Click to go Home</a>.
    </div>
{% endfor %}


<br/>
 

<h1>User Registration Form</h1>
 <br/>
 <br/>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br/>
        {{ form.feedback.label(class="form-label") }}
        {{ form.feedback(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

<br/>
{% if our_users %}
    <h1>User List:</h1>
    <br/>
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Feedback</th>
        </tr>
        {% for our_user in our_users %}
        <tr>
            <td>{{ our_user.id }}</td>
            <td>{{ our_user.name }}</td>
            <td>{{ our_user.email }}</td>
            <td>{{ our_user.feedback }}</td>
        </tr>
        {% endfor %}
    </table>
    <br/>
{% endif %}

{% endblock %}
