<nav class="navbar navbar-expand-lg" style="background-color:">
  <a class="navbar-brand" href="{{url_for('index')}}" style="font-size: 1.5rem;">PromptSafe</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
          <li class="nav-item">
                          <a class="nav-link" href="https://github.com/Tharunmoonwalker/prompt-safe" target="_blank">
                                  <i class="fab fa-github"></i>
                            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
          </li>
          
            
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('add_user')}}">User<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('article')}}">Article<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    
    </div>
  </nav>